
    
#city{
    height:30px;
    width:250px;
}
h3{
    color:white;
}
body{
    background-color:beige;
}
#btn{
    color:white;
    display:inline-block;
    background-color:green;
    
}
h2{
    color:aqua;
}
#output{
    color:goldenrod;
    font-size:20px;
    font-family:Arial;
}
#max{
    color:cyan;
    font-size:20px;
    font-family:Arial;
}
#min{
    color:steelblue;
    font-size:20px;
    font-family:Arial;
}
body{
    background-image:url("https://static.sciencelearn.org.nz/images/images/000/003/176/embed/FIR_ITV_RuralFireRisk_Weather_CloudySky_123RF_901534.jpg?1674170209");
    
}